// fonte-family
$fonte-family: 'Roboto', sans-serif;

// fonte-size
$fonte-size-titulo: 3rem;
$fonte-size-subtitulo: 1.8rem;
$fonte-size-paragrafo: 1.2rem;

// Cores
$cor-primaria: #967E76;
$cor-secundaria: #EEE3CB;
$cor-tercearia: #9BABB8;
@mixin bg-cores($cores...){
    background: linear-gradient(to left, $cores);
}